---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../sections/Hero.astro";
import Episodes from "../sections/Episodes.astro";
import Discover from "../sections/Discover.astro";
import Entertaiment from "../sections/Entertaiment.astro";
import Suscribe from "../sections/Suscribe.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="La Casa del Dragón | Ya disponible en HBO Max">
	<Header />
	<main class="w-full">
		<Hero />
		<Episodes />
		<Discover />
		<Entertaiment />
		<Suscribe />
	</main>
	<Footer />
</Layout>
